/* здесь используйте глобальные селекторы img, body, html и так далее */

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  background-color: $basic-white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
  position: relative;
  margin: 0;
  color: $basic-black;
}

img {
  display: block;
}

a {
  color: $basic-black;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
