@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin fonts($font-size-text, $line-height-text, $font-weight-text) {
  font-size: $font-size-text;
  line-height: $line-height-text;
  font-weight: $font-weight-text;
}

@mixin reset-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

@mixin margin-text ($text-margin-bottom) {
  margin-top: 0;
  margin-bottom: $text-margin-bottom;
}

@mixin background-image ($background-image, $background-repeat, $background-size) {
  background-image: $background-image;
  background-repeat: $background-repeat;
  background-size: $background-size;
}

@mixin background-gradient ($background-gradient-image) {
  background: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), $background-gradient-image;

  background: {
    repeat: no-repeat;
    size: cover;
  }
}
