/* здесь используйте глобальные переменные */
$basic-white: #ffffff;
$basic-black: #000000;
$base-color-text: #444444;
$base-background-color: #68b738;
$background-color-primary: #f2f2f2;
$background-color-secondary: #eaeaea;
$font-secondary: "Oswald", sans-serif;
$border-primary: #e6e6e6;
$border-secondary: #d9d9d9;
$border-third: #cdcdcd;

/* Бэкграунд пикчи */
