/* GLOBAL */
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/preview.scss";
@import "./blocks/blog-article.scss";
@import "./blocks/advantages.scss";
@import "./blocks/review.scss";
@import "./blocks/slider.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social-list.scss";
@import "./blocks/copyright.scss";
@import "./blocks/catalog-layout.scss";
@import "./blocks/sub-product.scss";
@import "./blocks/promo-gift.scss";
@import "./blocks/newsletter-catalog.scss";
