.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;

  &:hover .copyright__logo {
    color: $base-background-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    width: auto;
    justify-content: flex-start;
    gap: 23px;
  }
}

.copyright__logo {
  color: #666666;
  transition: 0.2s;
}

.copyright__title {
  @include fonts(16px,20px);
  @include margin-text(0);
  color: $base-color-text;
  white-space: nowrap;
}
