.main-nav {
  grid-column: 1 / 3;

  @media (min-width: $width-tablet) {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $width-desktop) {
    margin-left: auto;
    max-width: 476px;
  }
}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $border-primary;

  @media (min-width: $width-tablet) {
    border: none;
    align-items: flex-end;
    flex-flow: wrap;
    gap: 10px 33px;
  }

  @media (min-width: $width-desktop) {
    align-items: flex-start;
    padding-top: 16px;
  }
}

.main-nav__item {
  width: 100%;
  background-color: $basic-white;
  text-align: center;
  transition: 0.2s;

  @media (max-width: $width-pre-tablet) {
    height: 100%;

    &:hover {
      background-color: $border-primary;
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $width-tablet) {
    width: auto;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $width-desktop) {
    background-color: transparent;
  }
}

.main-nav__link {
  @include fonts(20px, 20px);
  text-transform: uppercase;
  font-family: $font-secondary;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-primary;
  width: 100%;
  text-align: center;

  @media (min-width: $width-tablet) {
    @include fonts(18px,24px);
    border-bottom: none;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 12px;
  }

  @media (min-width: $width-desktop) {
    @include fonts(20px,30px);
    padding-bottom: 10px;
    color: $basic-white;
  }
}

.main-nav__link--current,
.main-nav__link--catalog--current {
  @media (min-width: $width-tablet) {
    text-decoration: underline;
    text-decoration-color: $base-background-color;
    text-underline-offset: 9px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }

  @media (min-width: $width-desktop) {
    text-underline-offset: 6px;
  }
}

.main-nav__link--current {
  @media (min-width: $width-desktop) {
    text-decoration-color: $basic-white;
  }
}

.main-nav__link--catalog {
  @media (min-width: $width-tablet) {
    text-underline-offset: 6px;
    color: $basic-black;
  }
}
