/*
.main-nav__link {
  @include fonts(20px, 20px);
  text-transform: uppercase;
  font-family: $font-secondary;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-primary;
  width: 100%;

  @media (min-width: $width-tablet) {
    @include fonts(18px,24px);
    border-bottom: none;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 12px;
  }

  @media (min-width: $width-desktop) {
    @include fonts(20px,30px);
    padding-bottom: 10px;
    color: $basic-white;
  }
}

.main-nav__link:first-child {
  border-top: 1px solid $border-primary;

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.main-nav label {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: $basic-white;

  @media (min-width: $width-tablet) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.6;
    transition: 0.2s;
  }
}

.main-nav label::before,
.main-nav label::after,
.burger-toggle-decorate-border-center {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $basic-black;
  transition: 0.3s;
}

.main-nav label::before {
  content: "";
  top: 2px;
}

.main-nav label::after {
  content: "";
  bottom: 4px;
}

.burger-toggle-decorate-border-center {
  top: 10px;
}

.burger-toggle:checked ~ label::after {
  transform: rotate(45deg);
  bottom: 10px;
}

.burger-toggle:checked ~ label::before {
  transform: rotate(-45deg);
  top: 12px;
}

.burger-toggle:checked ~ label .burger-toggle-decorate-border-center {
  transform: rotate(-45deg);
  top: 12px;
}

.burger-toggle:checked ~ .main-nav__list {
  transform: scale(1, 1);
}

.burger-toggle {
  display: none;
}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 65px;
  width: 100%;
  z-index: 5;
  transition: 0.5s;
  transform: scale(1, 0);
  transform-origin: top center;

  @media (min-width: $width-tablet) {
    position: static;
    top: 0;
    transform: scale(1, 1);
    gap: 33px;
    flex-flow: wrap;
  }
}

.main-nav__item {
  background-color: $basic-white;
  text-align: center;
  transition: 0.2s;
  width: 100%;

  @media (max-width: $width-pre-tablet) {
    &:hover {
      background-color: $border-primary;
    }
  }

  @media (min-width: $width-tablet) {
    width: auto;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $width-desktop) {
    background-color: transparent;
  }
}

.main-nav {
  display: flex;

  @media (min-width: $width-tablet) {
    align-self: end;
    margin-left: auto;
    max-width: 476px;
  }
}

.main-nav__link--catalog {
  @media (min-width: $width-desktop) {
    color: $basic-black;
  }
}

.main-nav__link--current,
.main-nav__link--catalog--current {
  @media (min-width: $width-tablet) {
    text-decoration: underline;
    text-decoration-color: $base-background-color;
    text-underline-offset: 9px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }

  @media (min-width: $width-desktop) {
    text-underline-offset: 6px;
  }
}

.main-nav__link--current {
  @media (min-width: $width-desktop) {
    text-decoration-color: $basic-white;
  }
} */

.main-nav {
  grid-column: 1 / 3;

  @media (min-width: $width-tablet) {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $width-desktop) {
    margin-left: auto;
    max-width: 476px;
  }
}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $border-primary;

  @media (min-width: $width-tablet) {
    border: none;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 33px;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  @media (min-width: $width-desktop) {
    align-items: flex-start;
    padding-top: 16px;
  }
}

.main-nav__item {
  width: 100%;
  background-color: $basic-white;
  text-align: center;
  transition: 0.2s;
  width: 100%;

  @media (max-width: $width-pre-tablet) {
    height: 100%;

    &:hover {
      background-color: $border-primary;
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $width-tablet) {
    width: auto;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $width-desktop) {
    background-color: transparent;
  }
}

.main-nav__link {
  @include fonts(20px, 20px);
  text-transform: uppercase;
  font-family: $font-secondary;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-primary;
  width: 100%;
  text-align: center;

  @media (min-width: $width-tablet) {
    @include fonts(18px,24px);
    border-bottom: none;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 12px;
  }

  @media (min-width: $width-desktop) {
    @include fonts(20px,30px);
    padding-bottom: 10px;
    color: $basic-white;
  }
}

.main-nav__link--current,
.main-nav__link--catalog--current {
  @media (min-width: $width-tablet) {
    text-decoration: underline;
    text-decoration-color: $base-background-color;
    text-underline-offset: 9px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }

  @media (min-width: $width-desktop) {
    text-underline-offset: 6px;
  }
}

.main-nav__link--current {
  @media (min-width: $width-desktop) {
    text-decoration-color: $basic-white;
  }
}

.main-nav__link--catalog {
  @media (min-width: $width-tablet) {
    text-underline-offset: 6px;
  }
}

.main-nav__link--catalog {
  @media (min-width: $width-desktop) {
    color: $basic-black;
  }
}