.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 13px 21px 14px 20px;

  @media (min-width: $width-tablet) {
    justify-content: flex-start;
    padding: 25px 34px 0 30px;
    margin-bottom: 65px;
  }

  @media (min-width: $width-desktop) {
    padding: 55px 110px 0;

    &::before {
      @include background-gradient-green(url("../../images/background/preview/preview-background-desktop@1x.jpg"));
      background-position: bottom right;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 694px;
      width: 50%;
      z-index: -1;
    }
  }
}

.main-header__logo {
  @media (min-width: $width-tablet) {
    margin-right: 13px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 14px;
  }
}

.main-header--catalog {
  @media (min-width: $width-mobile) {
    margin-bottom: 27px;
    border-bottom: 1px solid $border-secondary;
  }

  @media (min-width: $width-tablet) {
    border: none;
    margin-bottom: 65px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 74px;

    &::before {
      height: 0;
      width: 0;
    }
  }
}
