.promo-gift {
  padding: 0 20px;
}

.promo-gift-wrapper {
  @include background-gradient(url("../../images/promo-gift-background-cat.jpg"));
  padding: 187px 61px 43px 58px;
}

.promo-gift-wrapper p {
  @include fonts(16px,20px,400);
  @include margin-text(0);
  color: $basic-white;
  text-align: center;
  position: relative;
}

.promo-gift-wrapper p::before {
  content: "";
  position: absolute;
  display: block;
  width: 78px;
  height: 80px;
  background: url("../../icons/gift-icon.svg");
  left: 50%;
  top: -128px;
  transform: translate(-50%);
}
