.review {
  padding: 25px 20px 20px;
  background-color: $background-color-secondary;
}

.review__title {
  @include fonts(36px, 40px, 400);
  @include margin-text(40px);
  font-family: $font-secondary;
}

.review__description {
  @include fonts(14px,18px,400);
  @include margin-text(20px);
  color: $base-color-text;
}

.review__results-description {
  @include fonts(24px,24px,400);
  @include margin-text(0);
  font-family: $font-secondary;
  text-transform: uppercase;
}

.review__results-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 20px;
}

.review__results-title {
  @include fonts(12px,12px,400);
  color: $base-color-text;
}

.review__results {
  margin-left: 0;
  margin-right: 0;
  border: 1px solid $border-third;
}

.review__amount {
  @include fonts(14px,20px,400);
  @include margin-text(0);
  font-family: $font-secondary;
  text-align: center;
  text-transform: uppercase;
}
