.social-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $background-color-primary;
  padding: 40px 20px;

  @media (min-width: $width-tablet) {
    padding: 55px 30px;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
  }
}

.social-list-wrapper img {
  margin-bottom: 20px;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.social-list {
  @include reset-list;
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-secondary;
  border-bottom: 1px solid $border-secondary;
  margin-bottom: 20px;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
    border: none;
    padding: 0;
    padding-left: 40px; /* центрирую иконки по макету в центр */
  }
}


.social-list__item-button {
  display: block;
  width: 28px;
  height: 20px;
}

.social-list__item-button--vk {
  @include background-image(url("../../icons/social-button-vk.svg"), no-repeat, 27px 17px);
  background-position: center;
}

.social-list__item-button--youtube {
  @include background-image(url("../../icons/social-button-youtube.svg"), no-repeat, 24px 18.5px);
  background-position: center;
}

.social-list__item-button--tg {
  @include background-image(url("../../icons/social-button-tg.svg"), no-repeat, 19.5px 17px);
  background-position: center;
}
